html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 98%;
    height: 98%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 13px;
    color: red;
    height: 100%;
}

.app {
    //min-height: 815px;
    //height: 815px;
    //height: 100%;
}

.app-content {
}

.app-columns {
    // display: -webkit-box;
    // display: -moz-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    // display: flex;
    clear: both;
}

.app-columns .app-column-content {
    float: left;
    width: 92%;
    //background-color: rgb(224, 258, 266);
    
}

.app-columns .app-column-side {
    float: right;
    width: 8%;
}

.header {
    background-color: white;
    clear: both;
}

.header .left-header {
    float: left;
    padding-right: 5px;
}

.header .right-header {
    float: right;
    padding: 15px 20px;
}

.swimlane {
    background-color: rgb(35, 47, 62);
    color: white;
    height: 85px;
    //line-height: 70px;
    font-size: 1.6em;
    clear: both;
}
.swimlane img {
    width: 85px;
    height: 85px;
    float: left;
}

.swimlane span {
    //float: left;
    padding: 10px 15px;
}

.swimlane > .downlane {
    line-height: 85px;
    font-size: 14px;
}

.sidenav {
    //float: right;
    //background-color: rgb(100, 153, 140);
    //background-color: rgb(35, 47, 62);
    height: 100%;
}

.sidenav .sidenav-content {
}

.panel {
    //border: 1px solid green;
    //max-width: 90%;
    //width: 90%;
}

.panel-title {
    line-height: 50px;
    font-size: 25px;
}

.panel-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.panel-item {
    //width: 300px;
    //height: 200px;
    margin: 1px;
}

.my-1 { margin-top: 10px; margin-bottom: 10px; }
.my-2 { margin-top: 20px; margin-bottom: 20px; }
.my-3 { margin-top: 30px; margin-bottom: 30px; }
.my-4 { margin-top: 40px; margin-bottom: 40px; }
.my-5 { margin-top: 50px; margin-bottom: 50px; }

.py-1 { padding-top: 10px; padding-bottom: 10px; }
.py-2 { padding-top: 20px; padding-bottom: 20px; }
.py-3 { padding-top: 30px; padding-bottom: 30px; }
.py-4 { padding-top: 40px; padding-bottom: 40px; }
.py-5 { padding-top: 50px; padding-bottom: 50px; }


// Diagnostics
//div:empty, span:empty, li:empty, p:empty, td:empty, th:empty
//{ padding: 20px; border: 5px dotted yellow !important; }
